---
- name: Include Java installation
  include_tasks: java.yml

- name: Create tomcat group
  group:
    name: "{{ tomcat_group }}"
    state: present

- name: Create tomcat user
  user:
    name: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    shell: /sbin/nologin
    create_home: no

- name: Download Tomcat
  get_url:
    url: "{{ tomcat_download_url }}"
    dest: /tmp/tomcat.tar.gz
    mode: '0644'

- name: Create Tomcat directory
  file:
    path: "{{ tomcat_install_dir }}"
    state: directory

- name: Extract Tomcat
  unarchive:
    src: /tmp/tomcat.tar.gz
    dest: "{{ tomcat_install_dir }}"
    remote_src: yes
    extra_opts:
      - --strip-components=1

- name: Set permissions
  file:
    path: "{{ tomcat_install_dir }}"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    recurse: yes

- name: Deploy static website
  copy:
    src: index.html
    dest: "{{ tomcat_install_dir }}/webapps/ROOT/index.html"
    owner: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    mode: '0644'
  notify: restart tomcat

- name: Start Tomcat
  shell: "{{ tomcat_install_dir }}/bin/startup.sh"
  args:
    creates: "{{ tomcat_install_dir }}/logs/catalina.out"